<div class="container bg-light py-5 mt-5">
    <h1>Welcome to Assessment</h1>
    <p class="col-md8 fs-4">This assessment contains 9 questions. Each question has holds 10 questions</p>
    <h4>Rules:</h4>
    <ol>
        <li>Correct questions gives you 10 points</li>
        <li>you will have 60 sec to answer each questions</li>
        <li>Refreshing the page will reset the quiz</li>
    </ol>
    <h1 style = "text-align: center">All the best</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your student Id:</label>
        <input #student_name type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/questions" (click)="startAssessment()">Start Assessment</button>
</div>
